*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(https://cdn.dribbble.com/users/39548/screenshots/554208/numbers_anim.gif);
}
.container{
    background-color: rgb(236, 243, 139);
    border: 2px dashed lightcoral;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.8;
    
}
input{
    height: 25px;
    font-size: 20px;
    color:brown;
}

button{
    background-color:rgb(255, 47, 127);
    padding: 6px;
    cursor: pointer;
    color:white;
    font-size: large;
    font-weight: bold;

}

h3{
    font-size: 20px;
    color: red;
}










